$boxBlue: #6244B7;
$menuBlue: #442a8d;
$fontBlue: #6244B7;
$medium: #aba0f1;
$light: #DDDCF6;
$textGray: #707070;
$textSmallGray: #a7a7a7;
$lineGray: #ccc;
$lineBlodGray: #e3e3e3;
$lightGray: #ececec;
