.term-nav {
   &__title {
      height: 35px;
      font-size: 12px;
      font-weight: 500;
      line-height: 35px;
      color: #000000;
      border-bottom: 2px solid #000;
   }

   li {
      font-size: 16px;
      font-weight: bold;
      color: #a7a7a7;
      line-height: 40px;
      border-bottom: 1px solid #a7a7a7;
      position: relative;
   }

   .type-of-term {

      & > i {
         display: inline-block;
         width:14px;
         height: 22px;
         margin-right: 7px;
         transform: translateY(4px);
         background-size: 14px 22px;
         background-repeat: no-repeat;
         background-position: center center;

         &.icon-all {
            width: 0;
            margin-left: 0px;
            margin-right: 0px;
         }

         &.icon-user {
            background-image: url(../images/icons/icon-user-gray.svg);
         }
         &.icon-flag {
            background-image: url(../images/icons/icon-flag-gray.svg);
         }
         &.icon-door {
            background-image: url(../images/icons/icon-door-gray.svg);
         }
         &.icon-box {
            background-image: url(../images/icons/icon-boxes-gray.svg);
         }
      }

      
   }

   .type-of-term.active {
      color: $boxBlue;
      margin-left: 20px;
      animation-name: moveRight;
      animation-duration: 0.5s;
      animation-timing-function: ease;

      & > i {
 
         &.icon-all {
            width: 0;
            margin-left: 0px;
            margin-right: 0px;
         }
         &.icon-user {
            background-image: url(../images/icons/icon-user-blue.svg);
         }
         &.icon-flag {
            background-image: url(../images/icons/icon-flag-blue.svg);
         }
         &.icon-door {
            background-image: url(../images/icons/icon-door-blue.svg);
         }
         &.icon-box {
            background-image: url(../images/icons/icon-boxes-blue.svg);
         }
      }
   }

}

@keyframes moveRight {
   from {margin-left: 0px;}
   to {margin-left: 20px;}
}

