.category-nav {

   &__title {
      height: 35px;
      font-size: 12px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0.96px;
      color: #707070;
   }
}

.side-nav {

   .nav-main ul, input[type="checkbox"] {
      display:none;
   }
   .nav-main > label {
      background-color: #ececec;
      display: block;
      padding: 0 5px 0 10px;
   }

   .nav-main input:checked ~ ul {
      display: block;
   }

   li {
      list-style: none;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
   }

   label {
      span {
         display: inline-block;
         max-width: 120px;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         word-wrap: normal;
         line-height: 1.2em;
         transform: translateY(3px);
      }

   }

   label::after {
      content: "\e942";
      font-family: xeicon;
      float: right;
   }

   .nav-main input:checked ~ label::after {
      content: "\e945";
      color: $menuBlue;
   }

   .nav-main {
      font-size: 16px;
      font-weight: 500;
      line-height: 2.5em;
   }

   .nav-main > input:checked ~ label {
      background-color: $light;
      color: $menuBlue;
   }

   .nav-sub {
      font-size: 15px;
      font-weight: normal;
      color: #707070;
      line-height: 38px;

      & > label {
         margin-left: 15px;
         padding-right: 5px;
         border-bottom: 1px solid #ccc;
         display: block;

      }
   }

   .nav-main > ul > li:last-child .nav-sub label {
      border: none;
   }

   .nav-sub > input:checked ~ label, .nav-sub input:checked ~ label::after {
      color: $fontBlue;
      border-color: $fontBlue;
   }

   .nav-sub > ul > li {
      line-height: 32px;
      margin-left: 15px;
   }

   .nav-sub > ul > li:first-child {
      margin-top: 5px;
   }

   .nav-sub > ul > li:last-child {
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
   }

   .nav-main > ul > li:last-child > .nav-sub > ul > li:last-child {
      border: none;
   }

   .nav-menu.active {
      color: $fontBlue;
      margin-left: 14px;
   }
}

.line-nav-main {
   border-bottom: 2px solid #fff;
}

.line-nav-sub {
   /* border-bottom: 2px solid #ccc; */
   margin-left:15px;
}
