.board-pw {

   padding-top: 70px;

   &__area {
      width: calc(100% - 201px);
      float: left;

      .top-box {
         height: 34px;
         border: none;

      }

      form {
         width: 577px;
         height: 226px;
         background-color: #ececec;
         padding-top: 57px;
         font-size: 15px;
         margin: 0 auto;
      }

      fieldset {
         width: 420px;
         margin: 0 auto;
      }

      legend {
         font-weight: bold;
         text-align: center;
         margin-bottom: 17px;
         width: 100%;
      }

      label {
         margin-right: 14px;
         float: left;
         line-height: 45px;
      }

      input {
         width: 282px;
         height: 45px;
         border: none;
         outline: none;
         background: #FFF;
         padding-left: 10px;
         margin-right: 10px;
         float: left;
      }

      a {
         display: block;
         float: left;
         width: 54px;
         height: 45px;
         border-radius: 3px;
         background: #a7a7a7;
         line-height: 45px;
         color: #fff;
         font-size: 12px;
         font-weight: 500;
         text-align: center;
      }
   }
}
