.ccl-buttons {
   margin-top: 36px;

   .ccl {
      float: left;
   }

   .ccl-image {  
      width: 100px;
      height: 36px;
      background: url(../images/ccl-by-nc-nd.svg) no-repeat;
      background-size: 100px 36px;
   }

   .buttons {
      float: right;

      button, a{
         width: 36px;
         height: 36px;
         float: left;
         border-radius: 18px;
         font-size: 0;
         margin-left: 10px;
         background-size: 36px 36px;
         background-repeat: no-repeat;
      }

      a {
         display: block;
         margin-left: 26px;
      }

      .btn-url {
         background-image: url(../images/icons/icon-copylink.svg);
      }

      .btn-print {
         background-image: url(../images/icons/icon-print.svg);
      }

      .btn-list {
         background-image: url(../images/icons/icon-list.svg);
         background-position: center center;
      }
   }

}
