.doc-slider {
   width: 687px;
   display:block;
   margin:93px auto 0;

   &__slide {
      color: #FFF;
      font-size: 36px;
      line-height: 396px;
      position: relative;
      text-align: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
   }

   &__slide-nav {
      line-height: 68px;
      margin: 5px;
      background-repeat: no-repeat;
      background-size: cover;
   }

   .slick-slide.slick-current.slick-active .doc-slider__slide-nav {
      border: 4px solid $boxBlue;
      line-height: 62px;
   }
   .slider-nav {
      width : 544px;
      margin : 20px auto;
   }

   .slick-arrow {
      position: absolute;
      z-index: 10;
      top: 50%; 
      transform: translateY(-50%);
      width: 30px;
      height: 54px;
      font-size: 0;
   
      &:before {
         font-family: 'xeicon';
         color: #707070;
         font-size: 20px;
      }
   }
   
   .slick-prev {
      left: -30px;
   
      &:before {
         content: "\e93c";
      }
   }
   
   .slick-next {
      right: -30px;
   
      &:before {
         content: "\e93f";
      }
   }   
 }
