.existing-docs {
   
   & > .wrapper {

   }

   &__cat {
      float: left;
      width: 104px;
      color: #a7a7a7;
      text-align: center;
      margin-left: 24px;

      &:first-child {
         color: $fontBlue;
         margin-left: 0px;
      }

      &__title {
         font-size: 12px;
         font-weight: bold;
         margin: 10px 0;
      }

      .num {
         font-family: Roboto;
         font-size: 27px;
         font-weight: 900;
      }

      & i {
         display: block;
         width: 54px;
         height: 54px;
         margin: 0 auto;
         background-size: 54px 54px;
         background-repeat: no-repeat;

         &.icon-{
            &all {
               background-image: url(../images/icons/icon-all.svg);
            }
            &book {
               background-image: url(../images/icons/icon-book.svg);
            }
            &doc {
               background-image: url(../images/icons/icon-doc.svg);
            }
            &pic {
               background-image: url(../images/icons/icon-pic.svg);
            }
            &video {
               background-image: url(../images/icons/icon-video.svg);
            }
            &relic {
               background-image: url(../images/icons/icon-relic.svg);
            }
            &newspaper {
               background-image: url(../images/icons/icon-newspaper.svg);
            }
            &voice {
               background-image: url(../images/icons/icon-voice.svg);
            }
         }
      }
   }
}
