.recent-posts {
   margin-right: -12px;
   margin-bottom: 25px;

   &__post {
      width: 325px;
      float: left;
      margin-right: 12px;
      margin-bottom: 47px;

      :hover img {
         transform: scale(1.07);
      }

      img {
         transition: all .3s ease-out;
         width: 100%;
      }

      &.no-thumbnail .recent-posts__post__thumpnail {
         background-size: cover;
         background-position: center center;
      }

      &__thumpnail {
         height: 230px;
         overflow: hidden;
         border: 1px solid #e3e3e3;
      }

      &__textbox {
         border: 1px solid #e3e3e3;
         border-top: none;
         padding: 11px 11px 10px;

         h3 {
            font-size: 15px;
            font-weight: bold;
            line-height: 1.87;
            letter-spacing: -0.005rem;
            color: $fontBlue;
         }

         h2 {
            width:304px;
            word-wrap:break-word; 
            line-height: 1.67;
            font-size: 17px;
            letter-spacing: -0.005rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            padding-bottom: 5px;
         }


         .text {
            width:289px;
            margin-top: 8px;
            word-wrap:break-word; 
         }
      }    
   }
}
